body {
	background-color: black;
}

div {
	position: absolute;
}
h1 {
	color: white;
	position: absolute;
	left: 490px;
	top: 2px;
	font-size: 100px;
	font-family: 'Spicy Rice', cursive;
}
.oblong {
	width: 200px;
	height: 275px;
	background-color: white;
	left: 550px;
	top: 200px;
	border-radius: 50%;
	filter: drop-shadow(0 0 50px orange);
}
.trapezoid {
  width: 234.5px;
  height: 200px;
  background: white;
  transform: perspective(10px) rotateX(1deg);
  top: 110px;
  left: -17.5px;
}
.eye1 {
	background-color: black;
	width: 30px;
	height: 45px;
	position: relative;
	top: 50px;
	left: 110px;
	border-radius: 50%;
}
.eye2 {
	background-color: black;
	width: 30px;
	height: 45px;
	position: relative;
	top: 5px;
	left: 60px;
	border-radius: 50%;
}
.mouth {
	background-color: black;
	width: 30px;
	height: 60px;
	position: relative;
	border-radius: 50%;
	top: 10px;
	left: 105px;
}
.circle1 {
	border-bottom-left-radius: 120px;
	border-bottom-right-radius: 120px; 
    background-color: white;
    border-bottom: 0;
    width: 65px;
    height: 30px;
    left: -41.5px;
    top: 329px;


}
.circle2 {
	border-bottom-left-radius: 120px;
	border-bottom-right-radius: 120px; 
    background-color: white;
    border-bottom: 0;
    width: 65px;
    height: 30px;
    left: 15px;
    top: 329px;
}
   .circle3 {
	border-bottom-left-radius: 120px;
	border-bottom-right-radius: 120px; 
    background-color: white;
    border-bottom: 0;
    width: 65px;
    height: 30px;
    left: 70px;
    top: 329px;
}
	.circle4 {
	border-bottom-left-radius: 120px;
	border-bottom-right-radius: 120px; 
    background-color: white;
    border-bottom: 0;
    width: 65px;
    height: 30px;
    left: 125px;
    top: 329px;
}
	.circle5 {
	border-bottom-left-radius: 120px;
	border-bottom-right-radius: 120px; 
    background-color: white;
    border-bottom: 0;
    width: 65px;
    height: 30px;
    left: 176px;
    top: 329px;
}

