
.titleImage {
		width: 100vw;
		height: 120vh;
		background: url(../websites/collection/home.jpg) no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	
	}
.aboutImage:hover  {
	opacity: 0.5;
  filter: alpha(opacity=50);
}
.collectionImage:hover {
	opacity: 0.5;
  filter: alpha(opacity=50);
}
		.aboutImage {
		width: 100vw;
		height: 80vh;
		background: url(../websites/collection/artist.jpeg) no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	}
	a {
		text-decoration: none;
		color: inherit;
	}
	.collectionImage {
		width: 100vw;
		height: 80vh;
		background: url(../websites/collection/fire.jpg) no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.aboutImage h2, .collectionImage h2 {
		font-size: 30px;
		font-family: 'Khula', sans-serif;
		text-align: center;
		padding-top: 40vh;
		margin: 0;
	}
		.titleImage h1  {
		font-size: 60px;
		font-family: 'Raleway', sans-serif;
		text-align: center;
		margin: 0 auto;
		padding: 5vw;
		}

body {
	margin: 0 auto;
}
}

@media only screen and (max-width: 1000px) {

	.titleImage {
		width: 100vw;
		height: 90vh;
		background: url(../websites/collection/home.jpg) no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.aboutImage {
		width: 100vw;
		height: 80vh;
		background: url(../websites/collection/artist.jpeg) no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	}
	.collectionImage {
		width: 100vw;
		height: 80vh;
		background: url(../websites/collection/fire.jpg) no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.titleImage h1  {
		font-size: 50px;
		text-align: center;
		padding: 10vw;

		
		

	}
	.aboutImage h2, .collectionImage h2 {
		font-size: 30px;
		font-family: 'Khula', sans-serif;
		text-align: center;
		padding-top: 40vh;
		margin: 0;
	}
	


	
}

@media only screen and (max-width: 700px) {
	.titleImage {
		width: 100vw;
		height: 80vh;
		background: url(../websites/collection/home.jpg) no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.aboutImage {
		width: 100vw;
		height: 80vh;
		background: url(../websites/collection/artist.jpeg) no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.collectionImage {
		width: 100vw;
		height: 80vh;
		background: url(../websites/collection/fire.jpg) no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.titleImage h1  {
		font-size: 50px;
		text-align: center;
		padding-top: 5vh;
		margin: 0;
	}
	.aboutImage h2, .collectionImage h2 {
		font-size: 30px;
		font-family: 'Khula', sans-serif;
		text-align: center;
		padding-top: 40vh;
		margin: 0;
	}
	}

