h1 {
	font-family: 'Courgette', cursive;
	color: lightpink;
	font-size: 75px;
	margin: 100px;
	
	text-align: center;
}
a {
	font-family: 'Courgette', cursive;
	text-decoration: none;
	color: lightpink;
	font-size: 50px;
	margin-left: 450px;
	margin-bottom: 900px;



}
 body {
 	background-image: url ("https://www.beeftrustkitchenbar.com/images/i.ytimg.com/vi/66LkOymuyAo/maxresdefault.jpg");
 }
