<!DOCTYPE html>
<html>
<head>
	<title>Halloween</title>
	<link rel="stylesheet" type="text/css"href="../../css/layouts.css">
</head>
<body>
<div id="container">
	<div class="header">
	<h1>Halloween</h1>
	</div>
	<h2>Costumes, mystery, myths, and more...</h2>
	<h3>By Brian Handwerk</h3>
	<img src="witches.png">
	<h3>Get the facts on Halloween's history and why we love it so much today.</h3>
	<div class="leftcol">
		<div class="image2"><img src="fairies.png"></div>
		<div class="image3"><img src="costumes.png"></div>
		<div class="image4"><img src="pumpkins.png"></div>
	</div>
	
	<div class="rightcol"><p>TODAY'S MIX OF parties, pranks, and profit is a far cry from Halloween's ancient origins. Over the centuries the celebration has seen a lot of changes, and we've summed them up here for you.</p>

<h3>Pagan Progenitor</h3>
<p>Halloween's origins date back more than 2,000 years. On what we consider November 1, Europe's Celtic peoples celebrated their New Year's Day, called Samhain (SAH-win).</p>
					
<p>On Samhain eve—what we know as Halloween—spirits were thought to walk the Earth as they traveled to the afterlife. Fairies, demons, and other creatures were also said to be abroad. (See pictures of crypts and catacombs.)</p>								

<h3>Celtic Costumes</h3>
<p>In addition to sacrificing animals to the gods and gathering around bonfires, Celts often wore costumes—probably animal skins  to confuse spirits, perhaps to avoid being posessed, according to the American Folklife Center at U.S. library of Congress. By wearing masks or blackening their faces, Celts are also thought to have impersonated dead ancestors.</p>

<p>Young men may have dressed as women and vice versa, marking a temporary breakdown of normal social divisions. In an early form of trick-or-treating, Celts costumed as spirits are believed to have gone from house to house engaging in silly acts in exchange for food and drink—a practice inspired perhaps by an earlier custom of leaving food and drink outdoors as offerings to supernatural beings.</p>

<h3>Christian Influence on Halloween</h3>
<p>Samhain was later transformed as Christian leaders co-opted pagan holidays. In the seventh century Pope Boniface IV decreed November 1 All Saints' Day, or All Hallows' Day.</p>

<p>The night before Samhain continued to be observed with bonfires, costumes, and parades, though under a new name: All Hallows' Eve—later "Halloween."</p>

<h3>Halloween Arrives in America</h3>
<p>European immigrants brought Halloween to the United States, and the celebration really gathered steam in the 1800s, when Irish-American immigration exploded. Anoka, Minnesota, may be home to the United States' oldest official Halloween celebration. Beginning in 1920, the city began staging a parade and bonfire. Anoka historians say townsfolk wanted to curb Halloween pranks that loosed cows on Main Street and upended outhouses.</p>

<h3>Do You Believe in Magic?</h3>
<p>More than a third of Americans say they believe in ghosts, according to an AP-Ipsos poll conducted before Halloween 2007. Twenty-three percent claimed to have seen a ghost or sensed one's presence. About one in five people believe that spells or witchcraft are real, according to the poll.</p>

<h3>Halloween Urban Legends</h3>
<p>Some Halloween spook stories just won't die—even if there's little substance behind the scare.For example, satanic cults—far more common in fiction than in fact—have been said to sacrifice black cats on Halloween. But experts say that there is little evidence for such fears, and that the few isolated incidents involving abused black cats were the work of disturbed—often adolescent—loners. Candy tainted by poisons, needles, or razor blades is another Halloween hobgoblin.</p>

<p>But sociologist Joel Best said in 2010 that dangerous-candy rumors might be manifestations of fears and anxieties about the future. In a world where so many threats—terrorism, crashing stock markets—seem uncontrollable, it may be comforting for parents to focus on preventable calamities, such as a child biting into a spiked apple, said Best, of the University of Delaware. Best conducted a study of alleged tainted Halloween candy incidents. "I have been unable to find a substantiated report of a child being killed or seriously injured by a contaminated treat picked up in the course of trick-or-treating," he wrote.</p>
	</div>
</div>

</body>
</html>