

.paragraph {
	

	width: 500px;
	font-size: 20px;
	margin-left: 592px;
	margin-top: 200px;
	position: absolute;
	font-family: 'Crimson Text', serif;
	


}
div {
	width: 700px;
	margin: 0px;
}

.heading {
	font-family: 'Special Elite', cursive;
	margin-left: 175px;
	font-size: 20px;
	position: absolute;
	margin-top: 260px;
	
}
.heading2 {
	margin-left: 590px;
	position: absolute;
	margin-top: 150px;
	font-family: 'Crimson Text', serif;


}



