p {
	font-size: 30px;
	font-family: 'Great Vibes', cursive;
	margin: 50px;
	color: white;
	background-color: gray;
	}

body {
		background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/spooky-tree-carol-eliassen.jpg");
	background-size: 100%;
	background-repeat: no-repeat;

}
	
