p {
font-size: 30px;
	font-family: 'K2D', sans-serif;
	margin: 250px;
	line-height: 40px;

}
body {
	background-color: lightgray;
}
a {
	color: darkviolet;
	text-decoration: none;
}
a:hover {
	color: gray;
	text-shadow: 1px 1px black;
}