p {
	font-size: 30px;
	font-family: 'K2D', sans-serif;
	margin-left: 250px;
	margin-top: 250px;
	line-height: 40px;
	margin-right: 250px;
	color: indigo;
	
}
a {
	margin-left: 250px;
	margin-top: 550px;
	font-size: 25px;
	text-decoration: none;
	color:indigo;
	font-family: 'K2D', sans-serif;
}
a:hover {
	color: indigo;
	text-shadow: 1px 1px powderblue;
}
body {
	background-color: lightpink;
}
